<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header" style="width: 100%">
            <a class="navbar-brand">Cripto Trade</a>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a style="cursor: pointer;" ng-click="logout()">
                        <i class="fa fa-stop-circle text-white"></i>
                        <span class="text-uppercase font-w600 text-white push-5-l">Sair</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Setup</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Pair</label>
                                <select ng-model="setup.pair" ng-options="option as option for option in pairs" class="form-control"></select>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Simultaneous Trades</label>
                                <input class="form-control" type="number" ng-model="setup.simultaneous_trade" required>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Candle (minutes)</label>
                                <input class="form-control" type="number" ng-model="setup.candle_interval" required>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>RSI Sensibility</label>
                                <input class="form-control" type="number" id="rsi_sensibility" ng-model="setup.rsi_sensibility" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Balance</label>
                                <input class="form-control" disabled type="number" ng-model="setup.balance" required>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Maximum Amount per Trade</label>
                                <input class="form-control" type="number" ng-model="setup.max_amout_per_trade" required>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Coin choice interval (minutes)</label>
                                <input class="form-control" type="number" ng-model="setup.coin_choice_interval" required>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 pull-right">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <span class="label">Running</span>
                                <input id="switch-shadow" ng-model="setup.running" class="switch switch--shadow" type="checkbox">
                                <label for="switch-shadow"></label>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <span class="label">Trading</span>
                                <input id="allowTrade" ng-model="setup.trading" class="switch switch--shadow" type="checkbox">
                                <label for="allowTrade"></label>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <button ng-disabled="loading" ng-click="updateConfig()" type="button" class="btn btn-default">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Orders</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed" style="margin-bottom: 0px !important;">
                            <thead>
                                <tr>
                                    <th>Coin</th>
                                    <th>Amount</th>
                                    <th>Ask at (BUY)</th>
                                    <th>Ask Price</th>
                                    <th>Bid at (SELL)</th>
                                    <th>Bid Price</th>
                                    <th>Profit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="trade in trades">
                                    <td>
                                        {{ trade.symbol }}
                                    </td>
                                    <td>
                                        {{ trade.amount }}
                                    </td>
                                    <td>
                                        {{ trade.ask_at | date:'yyyy-MM-dd HH:mm:ss'}}
                                    </td>
                                    <td>
                                        {{ trade.ask_price }}
                                    </td>
                                    <td>
                                        {{  trade.bid_at ? (trade.bid_at | date:'yyyy-MM-dd HH:mm:ss') : '-' }}
                                    </td>
                                    <td>
                                        {{ trade.bid_price || '-' }}
                                    </td>
                                    <td>
                                        {{ trade.profit || '-' }}
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <td colspan="5">
                                    <button type="button" class="btn btn-default">Export</button>
                                </td>
                                <td colspan="1" style="width: 15%;">
                                    <strong>Daily Success Rate</strong>
                                </td>
                                <td colspan="1">
                                    0%
                                </td>
                            </tfoot>
                        </table>
                    </div>
                    <ul style="margin-bottom: 0;" class="pull-right" uib-pagination direction-links="true" boundary-links="true" boundary-link-numbers="true" force-ellipses="true" total-items="totalTrades" max-size="5" items-per-page="50" ng-change="pageChanged(currentPage)" ng-model="currentPage"></ul>
                </div>
            </div>
        </div>
    </div>
</div>